body {
    transition: all 0.5s;
}

/* header sm  */

#particles-js {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../pic/passBack.webp');
    background-repeat: no-repeat;
    background-size:cover;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
}

#particles-js form {
    width: 30vw;
    height: 30vh;
    position: absolute;
    top: 39vh;
    left: 36vw;

}


.smHeader {
    position: relative;
    width: 100%;
    height: 100vh;
}



.smBGround {
    background-image: url('../pic/R.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -2;

}

.smBGround::after {
    content: '';
    width: 100%;
    height: 100vh;
    background-color: rgba(0 0 0 / 60%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

main .divSearch {
    width: auto;
    height: 30vh;
    position: absolute;
    top: 43vh;
    left: 28vw;
}

@media only screen and (max-width: 961px) {
    main .divSearch, #particles-js form {
        width: 60vw;
        height: 60vh;

        top: 32vh;
        left: 20vw;
    }
}


/* header sm  */


/* body sm  */
.smBody {
    position: relative;
    height: 100vh;
    width: 100%;
}

.smUserSearch {
    border-radius: 10px;
}

.smUserSearch h3 {


    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.smUserSearch p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

/* body sm  */






/* agent page  */


.agentHeader {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.barndLogo {
    width: 150px;
    height: auto;
}



.agentGroup {
    width: 90%;
    height: 30vh;
    position: absolute;
    top: 23vh;
}





.agentGroup .list-group {
    height: 43vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid white;
    border-radius: 20px;
    position: relative;
}

/* agent page  */